<div class="container-fluid bottom" style="background-color: #42b649">
	<div class="row">
		<div class="offset-md-1 col-md-2">
			<h5>Mas Información</h5>
			<%= link_to "Contactos", contact_path %>
			<br>
			<%= link_to "Terminos y Condiciones",terms_and_conditions_path %>
		</div>
		<div class="offset-md-1 col-md-3">
			<h5>Redes Sociales</h5>
			<a target="_blank" href="https://www.instagram.com">Instagram</a>
			<a target="_blank" href="https://www.facebook.com/">Facebook</a>
			<a target="_blank" href="https://twitter.com">Twitter</a>
		</div>
	</div>
</div>
