<div class="container-fluid bottom" style="background-color: #2b2b2b">
	<div class="row">
		<div class="offset-md-1 col-md-7" style="color: #fff">
			<h5>COPYRIGHT 2019 - FELIPE MAHANA</h5>
		</div>
	</div>
</div>
