// Place all the styles related to the plans controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.card-index{
  background-color: #F8F8FF;
}

.footer{
  //background-image: url(slide33.jpg);
  background-color: #42b649;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

/*
.perfil{
  height: 75vh;
}
*/

/*
.user_contract{
  height: 75vh;
}
*/
